<h1 id="cadastro-de-usuário">Cadastro de Usuário</h1>
<h2 id="funcionalidade-cadastro-de-usuário">Funcionalidade: Cadastro de
Usuário</h2>
<h3 id="cenário-cadastro-bem-sucedido-de-um-novo-usuário">Cenário:
Cadastro bem-sucedido de um novo usuário</h3>
<ul>
<li>Dado que o usuário acessa a página de cadastro</li>
<li>Quando o usuário preenche os seguintes campos:
<ul>
<li>Nome: [Nome do Usuário]</li>
<li>Email: [Endereço de Email]</li>
<li>Senha: [Senha]</li>
<li>Data de Nascimento: [Data de Nascimento]</li>
</ul></li>
<li>E clica no botão de cadastro</li>
<li>Então o usuário deve ser redirecionado para a página inicial</li>
<li>E o usuário deve receber uma mensagem de boas-vindas</li>
</ul>
<h3 id="cenário-tentativa-de-cadastro-com-email-já-existente">Cenário:
Tentativa de cadastro com email já existente</h3>
<ul>
<li>Dado que o usuário acessa a página de cadastro</li>
<li>E um usuário com o email [Endereço de Email] já está cadastrado</li>
<li>Quando o usuário preenche os seguintes campos:
<ul>
<li>Nome: [Nome do Usuário]</li>
<li>Email: [Endereço de Email]</li>
<li>Senha: [Senha]</li>
<li>Data de Nascimento: [Data de Nascimento]</li>
</ul></li>
<li>E clica no botão de cadastro</li>
<li>Então o usuário deve receber uma mensagem de erro informando que o
email já está em uso</li>
<li>E o usuário permanece na página de cadastro</li>
</ul>
<h3
id="cenário-cadastro-sem-preenchimento-de-todos-os-campos-obrigatórios">Cenário:
Cadastro sem preenchimento de todos os campos obrigatórios</h3>
<ul>
<li>Dado que o usuário acessa a página de cadastro</li>
<li>Quando o usuário não preenche todos os campos obrigatórios</li>
<li>E clica no botão de cadastro</li>
<li>Então o usuário deve receber uma mensagem de erro informando que
todos os campos obrigatórios devem ser preenchidos</li>
<li>E o usuário permanece na página de cadastro</li>
</ul>
