<h1 id="cadastro-de-produto">Cadastro de Produto</h1>
<h2 id="funcionalidade-cadastro-de-produto">Funcionalidade: Cadastro de
Produto</h2>
<h3 id="cenário-cadastro-bem-sucedido-de-um-novo-produto">Cenário:
Cadastro bem-sucedido de um novo produto</h3>
<ul>
<li>Dado que o usuário tem acesso à página de cadastro de produtos</li>
<li>Quando o usuário preenche os seguintes campos:
<ul>
<li>Nome do Produto: [Nome do Produto]</li>
<li>Valor: [Valor do Produto]</li>
<li>Quantidade em Estoque: [Quantidade em Estoque]</li>
</ul></li>
<li>E clica no botão de cadastro</li>
<li>Então o usuário deve receber uma mensagem de confirmação de
cadastro</li>
<li>E o produto deve ser listado na página de produtos cadastrados</li>
</ul>
<h3 id="cenário-cadastro-com-valor-inválido">Cenário: Cadastro com valor
inválido</h3>
<ul>
<li>Dado que o usuário tem acesso à página de cadastro de produtos</li>
<li>Quando o usuário preenche os seguintes campos:
<ul>
<li>Nome do Produto: [Nome do Produto]</li>
<li>Valor: [Valor Inválido]</li>
<li>Quantidade em Estoque: [Quantidade em Estoque]</li>
</ul></li>
<li>E clica no botão de cadastro</li>
<li>Então o usuário deve receber uma mensagem de erro informando que o
valor inserido é inválido</li>
<li>E o usuário permanece na página de cadastro</li>
</ul>
<h3
id="cenário-cadastro-sem-preenchimento-de-todos-os-campos-obrigatórios">Cenário:
Cadastro sem preenchimento de todos os campos obrigatórios</h3>
<ul>
<li>Dado que o usuário tem acesso à página de cadastro de produtos</li>
<li>Quando o usuário não preenche todos os campos obrigatórios</li>
<li>E clica no botão de cadastro</li>
<li>Então o usuário deve receber uma mensagem de erro informando que
todos os campos obrigatórios devem ser preenchidos</li>
<li>E o usuário permanece na página de cadastro</li>
</ul>
